[Desktop Entry]
Name=ChatGPT
Exec=/usr/bin/zen-browser --no-remote https://chatgpt.com --profile {{ .chezmoi.homeDir }}/.zen/chatgpt --name "CHATGPT"
Icon=chatgpt
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;

