[Desktop Entry]
Name=Tasks
Exec=/usr/bin/zen-browser --no-remote https://tasks.srsrhome.com --profile {{ .chezmoi.homeDir }}/.zen/tasks --name "TASKS"
Icon=korg-todo
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;
