[Desktop Entry]
Name=Youtube
Exec=/usr/bin/zen-browser --no-remote https://youtube.com --profile {{ .chezmoi.homeDir }}/.zen/youtube --name "YOUTUBE"
Icon={{ .chezmoi.homeDir }}/.local/share/icons/youtube.svg
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;

