[Desktop Entry]
Name=Tududi
Exec=/usr/bin/zen-browser --no-remote https://tududi.srsrhome.com --profile {{ .chezmoi.homeDir }}/.zen/tududi --name "TUDUDI"
Icon={{ .chezmoi.homeDir }}/.local/share/icons/tududi.png
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;
